.container {
  position: relative;
}

.traffic-light-stick {
  position:absolute;
  top: 0;
  height: 300px;
  width:20px;
}



.traffic-light {

  height: 600px;
  width: 200px;
  position:relative
}

.light {
  height: 270px;
  margin-bottom: 5px;

}

.glow {
  box-shadow: 0 0 10px 2px white;
}